@import './foundations/reset';

body {
  font-family: $primary-font-family;
  font-size: $small-font-size;
  line-height: 1.2;
  background-color: $grisClair;

  @include medium-up {
    font-size: $regular-font-size;
  }
}

.link {
  text-decoration: none;
  color: $noir;
}